
<div class="resto">
    <div class="resto_main">

        <div class="resto_tab">
            <a routerLink="/insert" routerLinkActive="active">Add Restaurant</a>
        </div>

        <div class="resto_tab">
            <a routerLink="/update" routerLinkActive="active">Update Restaurant</a>
        </div>


        <div class="resto_tab">
            <a routerLink="/delete" routerLinkActive="active">Delete Restaurant</a>
        </div>

        <div class="resto_tab">
            <a routerLink="/view" routerLinkActive="active">View Restaurant</a>
        </div>

    </div>
</div>
<router-outlet></router-outlet>