.resto{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.resto .resto_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.resto .resto_main .resto_tab{
    width: 100px;
    position: relative;
    top: 60px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px rgb(93, 39, 1) solid;
    background-color: rgb(246, 106, 6);
    border-radius: 5px;
}

.resto .resto_main .resto_tab a{
    text-decoration: none;
    color: white;
}
