
<div class="about" id="About">
    <div class="about_main">

      <div class="image">
        <img src="assets/Food-Plate.png">
      </div>

      <div class="about_text">
        <h1><span>About</span>Us</h1>
        <h3>Why Choose us?</h3>
        <p>
          We are here to provide you Breakfast, Lunch and Dinner easily available at your door step.
          You may get your meal just a click using your fingertips.
          Don't wait to hunger attack on you, Order your favourite meal and enjoy the food.
          Your meal is knocking on the door just open the door and have your meal. <br>
          Get 10% discount on your first order!!
          
        </p>
      </div>

    </div>

      <a href="#" class="about_btn">Order Now</a>

  </div>