
<div class="order">
    <h1><Span>Order</Span>Now</h1>

    <div class="order_main">

        <div class="order_image">
            <img src="assets/dinner table.png" alt="">
        </div>

        <form>

        <div class="input"> 
            <label for="name">Name</label> <br>
            <input type="text" placeholder="Enter Name">
        </div>

        <div class="input"> 
            <label for="email">Email</label> <br>
            <input type="email" placeholder="Your Email">
        </div>

        <div class="input">
            <label for="number">Number</label> <br>
            <input type="number" placeholder="Enter Mobile no.">
        </div>

        <div class="input">
            <label for="food-item">Food Item</label> <br>
            <input type="text" placeholder="Enter Food Item">
        </div>

        <div class="input">
            <label for="quantity">Quantity</label> <br>
            <input type="number" placeholder="Enter Quantity">
        </div>

        <div class="input">
            <label for="address">Address</label> <br>
            <input type="text" placeholder="Enter Address">
        </div>

        <br> <br>
        <div class="order_btn">
            <input type="submit" value="Order">
        </div>
    </form>
    </div>
</div>

