
<div class="contact">
    <div class="contact_main">

        <div class="image">
            <img src="assets/contact4.jpg"> 
            
            
            <div class="text">
                <P>We care for you, <br>
                     Let us know about your experience of ordering meal from us.
                     <p> Do you liked the service provided by us?<br>
                    Give us Feedback on our mail or Drop a message here <br></p>
                 <p>Feel free to Contact Us on our contact number given below<br>
                     Whenever our customers need us, we are available 24 hours a day, 
                     7 days a week.
                 </p>
            </div>
            <br>
             <div class="contact_link">
                You may follow us on <br> <br>
                <a href="https://www.LinkedIn.com" target="_blank"><i class="fa-brands fa-linkedin-in"></i> </a>
                &nbsp;&nbsp;
                <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-square-facebook"> </i> </a>
                &nbsp;&nbsp;
                <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i> </a>
                &nbsp;&nbsp;
                <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i> </a>
            </div>
        </div>

    <div class="contact_form">
        <h1><span>Contact</span>Us</h1>
        <form class="contact_text"></form>
        <label for="name"> Name : </label>
        <input type="text" id="name" name="name" placeholder="Enter Name">
        <br> <br>
        <label for="contact"> Contact : </label>
        <input type=" tel"  name="contact" id="contact"  pattern="[0-9]{4}-[0-9]{6}"  placeholder="1234-567890" required>
        <br><br>
        <label for="email"> Email : </label>
        <input type="email" id="email" name="email" placeholder="Enter Email" required>
        <br><br>
        <label for="msg">Drop us a Message :</label> <br><br>
        <textarea name="msg" id="msg" cols="38" rows="8" placeholder="Enter Your Message"></textarea>
        <br> <br>
        <button type="submit" value="Submit">Submit</button>
        <br>
        <br>
        <a class="footer" href="mailto:admin@vegchillies.com"> <i class="fa-solid fa-envelope"></i> &nbsp; admin@vegchillies.com</a><br>
        <a class="footer" href="tel:1800 120 1193"><i class="fa-solid fa-phone"></i> &nbsp; 1800 120 1193</a>
        <br> <br>
    </div>
       <br>
         
    </div>
</div>
<br> <br>
<br>
