
 <div class="menu">
    <h1>Our <span>Menu</span></h1>

    <div class="menu_box">
      <div class="menu_card">

    <div class="menu_image">
      <img src="assets/vadapav2.jpg">
    </div>

    <div class="small_card">
      <i class="fa-solid fa-heart"></i>
    </div>

    <div class="menu_info">
      <h2>Vadapav</h2>
      <p>
        Fresh and tasty Vadapav you will like it..
      </p>
      <h3>Rs.30</h3>
      <div class="menu_icon">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star-half-stroke"></i>
      </div>
      <a href="#" class="menu_btn">Order Now</a>
    </div>
    </div>

    <div class="menu_card">

      <div class="menu_image">
        <img src="assets/idlidosa.jpg">
      </div>
  
      <div class="small_card">
        <i class="fa-solid fa-heart"></i>
      </div>
  
      <div class="menu_info">
        <h2>Dosa</h2>
        <p>
          Fresh and tasty Dosa you will like it..
        </p>
        <h3>Rs.60</h3>
        <div class="menu_icon">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </div>
        <a href="#" class="menu_btn">Order Now</a>
      </div>
      </div>

      <div class="menu_card">

        <div class="menu_image">
          <img src="assets/idli 2.jpg">
        </div>
    
        <div class="small_card">
          <i class="fa-solid fa-heart"></i>
        </div>
    
        <div class="menu_info">
          <h2>Idli</h2>
          <p>
            Fresh and tasty idli you will like it..
          </p>
          <h3>Rs.50</h3>
          <div class="menu_icon">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
          <a href="#" class="menu_btn">Order Now</a>
        </div>
        </div>

        <div class="menu_card">

          <div class="menu_image">
            <img src="assets/puri bhaji2.jpg">
          </div>
      
          <div class="small_card">
            <i class="fa-solid fa-heart"></i>
          </div>
      
          <div class="menu_info">
            <h2>Puri Bhaji</h2>
            <p>
              Fresh and tasty Puribhaji you will like it..
            </p>
            <h3>Rs.70</h3>
            <div class="menu_icon">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>
            <a href="#" class="menu_btn">Order Now</a>
          </div>
          </div>


          <div class="menu_card">

            <div class="menu_image">
              <img src="assets/meduvada1.jpg">
            </div>
        
            <div class="small_card">
              <i class="fa-solid fa-heart"></i>
            </div>
        
            <div class="menu_info">
              <h2>Medu vada</h2>
              <p>
                Fresh and tasty Meduvada you will like it..
              </p>
              <h3>Rs.55</h3>
              <div class="menu_icon">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
              </div>
              <a href="#" class="menu_btn">Order Now</a>
            </div>
            </div>


            <div class="menu_card">

              <div class="menu_image">
                <img src="assets/bread pakoda1.jpg">
              </div>
          
              <div class="small_card">
                <i class="fa-solid fa-heart"></i>
              </div>
          
              <div class="menu_info">
                <h2>Bread Pakoda</h2>
                <p>
                  Fresh and tasty..
                </p>
                <h3>Rs.45</h3>
                <div class="menu_icon">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <a href="#" class="menu_btn">Order Now</a>
              </div>
              </div>


              <div class="menu_card">

                <div class="menu_image">
                  <img src="assets/pasta.jpg">
                </div>
            
                <div class="small_card">
                  <i class="fa-solid fa-heart"></i>
                </div>
            
                <div class="menu_info">
                  <h2>Pasta</h2>
                  <p>
                    Tasty and Yummy Pasta you will like it..
                  </p>
                  <h3>Rs.70</h3>
                  <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                  </div>
                  <a href="#" class="menu_btn">Order Now</a>
                </div>
                </div>
      
                <div class="menu_card">

                  <div class="menu_image">
                    <img src="assets/juse.jpg">
                  </div>
              
                  <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                  </div>
              
                  <div class="menu_info">
                    <h2>Juse</h2>
                    <p>
                      Tasty juse you will like it..
                    </p>
                    <h3>Rs.60</h3>
                    <div class="menu_icon">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                  </div>
                  </div>
    
                  <div class="menu_card">

                    <div class="menu_image">
                      <img src="assets/pizza.jpg">
                    </div>
                
                    <div class="small_card">
                      <i class="fa-solid fa-heart"></i>
                    </div>
                
                    <div class="menu_info">
                      <h2>pizza</h2>
                      <p>
                        Tasty and Yummy Pizza you will like it..
                      </p>
                      <h3>Rs.150</h3>
                      <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                      </div>
                      <a href="#" class="menu_btn">Order Now</a>
                    </div>
                    </div>
  
                    <div class="menu_card">

                      <div class="menu_image">
                        <img src="assets/chocolate_Drink.jpg">
                      </div>
                  
                      <div class="small_card">
                        <i class="fa-solid fa-heart"></i>
                      </div>
                  
                      <div class="menu_info">
                        <h2>chocolate Drink</h2>
                        <p>
                          Tasty chocolate Drink you will like it..
                        </p>
                        <h3>Rs.80</h3>
                        <div class="menu_icon">
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <a href="#" class="menu_btn">Order Now</a>
                      </div>
                      </div>
  
                      <div class="menu_card">

                        <div class="menu_image">
                          <img src="assets/ice_cream.jpg">
                        </div>
                    
                        <div class="small_card">
                          <i class="fa-solid fa-heart"></i>
                        </div>
                    
                        <div class="menu_info">
                          <h2>Ice cream</h2>
                          <p>
                            Tasty and Yummy ice_cream you will like it..
                          </p>
                          <h3>Rs.75</h3>
                          <div class="menu_icon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                          </div>
                          <a href="#" class="menu_btn">Order Now</a>
                        </div>
                        </div>


                        <div class="menu_card">

                          <div class="menu_image">
                            <img src="assets/cake.jpg">
                          </div>
                      
                          <div class="small_card">
                            <i class="fa-solid fa-heart"></i>
                          </div>
                      
                          <div class="menu_info">
                            <h2>Cake</h2>
                            <p>
                              Tasty and Yummy Cake you will like it..
                            </p>
                            <h3>Rs.200</h3>
                            <div class="menu_icon">
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <a href="#" class="menu_btn">Order Now</a>
                          </div>
                          </div>

                          <div class="menu_card">

                            <div class="menu_image">
                              <img src="assets/chocolate.jpg">
                            </div>
                        
                            <div class="small_card">
                              <i class="fa-solid fa-heart"></i>
                            </div>
                        
                            <div class="menu_info">
                              <h2>chocolate</h2>
                              <p>
                                Tasty and Yummy chocolate you will like it..
                              </p>
                              <h3>Rs.100</h3>
                              <div class="menu_icon">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                              </div>
                              <a href="#" class="menu_btn">Order Now</a>
                            </div>
                            </div>

                            <div class="menu_card">

                              <div class="menu_image">
                                <img src="assets/buger.jpg">
                              </div>
                          
                              <div class="small_card">
                                <i class="fa-solid fa-heart"></i>
                              </div>
                          
                              <div class="menu_info">
                                <h2>Burger</h2>
                                <p>
                                  Tasty and Yummy Burger you will like it..
                                </p>
                                <h3>Rs.100</h3>
                                <div class="menu_icon">
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <a href="#" class="menu_btn">Order Now</a>
                              </div>
                              </div>

                              <div class="menu_card">

                                <div class="menu_image">
                                  <img src="assets/sandwich.jpg">
                                </div>
                            
                                <div class="small_card">
                                  <i class="fa-solid fa-heart"></i>
                                </div>
                            
                                <div class="menu_info">
                                  <h2>Sandwich</h2>
                                  <p>
                                    Tasty and Yummy Sandwich you will like it..
                                  </p>
                                  <h3>Rs.65</h3>
                                  <div class="menu_icon">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                  </div>
                                  <a href="#" class="menu_btn">Order Now</a>
                                </div>     
                         </div>
                         <div class="menu_card">

                          <div class="menu_image">
                            <img src="assets/Spanchi.jpg">
                          </div>
                      
                          <div class="small_card">
                            <i class="fa-solid fa-heart"></i>
                          </div>
                      
                          <div class="menu_info">
                            <h2>Spanchi</h2>
                            <p>
                              Tasty and Yummy Spanchi you will like it..
                            </p>
                            <h3>Rs.50</h3>
                            <div class="menu_icon">
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <a href="#" class="menu_btn">Order Now</a>
                          </div>     
                   </div>
                         
  </div>
  </div>
