
<div class="gallary">
    <h1>Our <span>Gallary</span></h1>

    <div class="gallary_image_box">
        <div class="gallary_image">
            <img src="assets/gallary_1.jpg" >

            <h3>Sandwich</h3>
            <p>
                Fresh and tasty sandwich.
            </p>
            <a routerLink="/order" class="gallary_btn">Order Now</a>
        </div>

        <div class="gallary_image">
            <img src="assets/gallary_2.jpg" >

            <h3>Cup cake</h3>
            <p>
                Delicious and yummiest cup cakes are available.
            </p>
            <a routerLink="/order" class="gallary_btn">Order Now</a>
        </div>

        <div class="gallary_image">
            <img src="assets/gallary_3.jpg" >

            <h3>Cup cake</h3>
            <p>
                Delicious and yummiest cup cakes are available.
            </p>
            <a routerLink="/order" class="gallary_btn">Order Now</a>
        </div>

        <div class="gallary_image">
            <img src="assets/gallary_4.jpg" >

            <h3>Cookies and Cakes</h3>
            <p>
                Delicious and yummiest cookies and cakes are available.
            </p>
            <a routerLink="/order" class="gallary_btn">Order Now</a>
        </div>

        <div class="gallary_image">
            <img src="assets/gallary_5.jpg" >

            <h3>Pizza</h3>
            <p>
                Tasty and yummy pizza available.
            </p>
            <a routerLink="/order" class="gallary_btn">Order Now</a>
        </div>

        <div class="gallary_image">
            <img src="assets/gallary_6.jpg" >

            <h3>Cake</h3>
            <p>
                Delicious and yummiest Cakes are available. 
            </p>
            <a routerLink="/order" class="gallary_btn">Order Now</a>
        </div>

            <div class="gallary_image">
                <img src="assets/download9.jpg" >
    
                <h3>Veg Thali</h3>
                <p>
                    Veg Thali is available.
                </p>
                <a routerLink="/order" class="gallary_btn">Order Now</a>
            </div>
    
            <div class="gallary_image">
                <img src="assets/download1.jpg" >
    
                <h3>Food</h3>
                <p>
                    Food Thali is available.
                </p>
                <a routerLink="/order" class="gallary_btn">Order Now</a>
            </div>
    
            <div class="gallary_image">
                <img src="assets/download10.jpg" >
    
                <h3>Pav Bhaji</h3>
                <p>
                    Delicious and yummiest Pav Bhaji is available.
                </p>
                <a routerLink="/order" class="gallary_btn">Order Now</a>
            </div>
    
            <div class="gallary_image">
                <img src="assets/download5.jpg" >
    
                <h3>Dal</h3>
                <p>
                    All food items are fresh and tasty.
                </p>
                <a routerLink="/order" class="gallary_btn">Order Now</a>
            </div>
    
            <div class="gallary_image">
                <img src="assets/download6.jpg" >
    
                <h3>Pasta</h3>
                <p>
                    Tasty and yummy pasta available.
                </p>
                <a routerLink="/order" class="gallary_btn">Order Now</a>
            </div>
    
            <div class="gallary_image">
                <img src="assets/download7.jpg" >
    
                <h3>Food</h3>
                <p>
                    Delicious and yummiest Cakes are available. 
                </p>
                <a routerLink="/order" class="gallary_btn">Order Now</a>
            </div>
    
            <div class="gallary_image">
                <img src="assets/download8.jpg" >
    
                <h3>Veg Pulao</h3>
                <p>
                    All Food Items are fresh and tasty.
                </p>
                <a routerLink="/order" class="gallary_btn">Order Now</a>
            </div>
            <div class="gallary_image">
                <img src="assets/download12.jpg" >
    
                <h3>Idli-Vada</h3>
                <p>
                    All Food Items are fresh and tasty.
                </p>
                <a routerLink="/order" class="gallary_btn">Order Now</a>
            </div>

        
    </div>


</div>